@using System.Configuration
@model List<ProdPay.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <form action="@ConfigurationManager.AppSettings["urlSubmitPayment"]">
            <input type="hidden" name="cmd" value="_cart" />
            <input type="hidden" name="upload" value="1" />
            <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["urlReturn"]" />
            <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["accountBusiness"]" />
            @for (int i = 0; i < Model.Count; i++)
            {
                <input type="text" name="@Url.Content("item_name_"+(i+1))" value="@Model[i].item_name" />
                <input type="text" name="@Url.Content("item_number_"+(i+1))" value="@Model[i].item_number" />
                <input type="text" name="@Url.Content("amount_"+(i+1))" value="@Model[i].amount" />
                <input type="text" name="@Url.Content("quantity_" + (i + 1))" value="@Model[i].quantity" />
                <br />
            }
            <br />
            <div class="col-md-12">
                <input type="submit" value="Checkout Now" class="btn btn-primary col-md-12" />
            </div>
        </form>
    </div>
</body>
</html>
